
h1{
  font-family: "Montserrat";
  font-size: 3.25rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h3{
  color: black;
  font-weight: 900;
  font-size: 1.2rem;
}

p{
  color: grey;
}

body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  margin-bottom: 0;
  z-index: -1;
}

.container-fluid{
  padding: 3% 15%;
  padding-bottom: 6%;
}

/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link{
  font-size: 0.9rem;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  height: 100%;
  right: 25%;
}

/* Feature Section */
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 0;
}

.second-icon{
  size: 3rem;
  color: #ef8172;
  padding-bottom: 4%;
}

.second-icon:hover{
  color:#ff4c68;
}

.section-two{
  padding: 5%;
  text-align: center;
}

/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Press */
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/*
.card-header:hover{
  background-color: #ff4c68;
}

.card-body:hover{
  background-color: #ef8172;
}

.card-body p:hover{
  color: white;
}
*/

.card:hover{
  color: #ef8172;
}

/* Call to Action Section */
#cta{
  font-family: Montserrat;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-h3{
  color: white;
  font-size: 2.25rem;
}

.cta-button{
  margin-top: 30px;
  margin-right: 10px;
}

/* Footer Section */
#footer{
  padding: 7% 15%;
  text-align: center;
}

.footer-para{
  margin-top: 30px;
}

.footer-icon{
  margin-right: 10px;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }

  .title-image{
    width: 300px;
    height: 500px;
    position: static;
    transform: rotate(0);
  }
}
